@import '../../variables.scss';

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .logo {
    }
}

@media only screen and (min-width: $breakpoint) {
    .logo {
        margin-left: 8rem;
    }
}
