@import '../../variables.scss';

.desktop_nav {
    display: none;
}

@media only screen and (min-width: $breakpoint) {
    .desktop_nav {
        margin-right: 10vw;
        display: initial;
        ul {
            display: flex;
            li {
                list-style: none;
                margin-left: 4vw;

                a { margin:0;
                    color: $secondary;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    text-decoration: none;
                }
            }
        }
        .selected {
            a {
                color: $menu_selected;
                font-weight: bold;
            }
        }

        .selected::after {
            content: '';
            display: block;
            background-color: $primary;
            width: 65px;
            height: 5px;
        }
    }
}
