@import "./variables.scss";
@import "./fonts.scss";


body {
  margin: 0;
  // overflow: hidden;
  background-color: $secondary;
}

@media only screen and (min-width: $breakpoint){
	body {
    background-color: $primary;
  }
}